@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Poppins:wght@400;500&display=swap');
:root{
        --font-color: #39852d;
    }

    body{
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    @import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Poppins:wght@400;500&display=swap');
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body{
        font-family: "Poppins", sans-serif;
        --color1: #35852d;
        --color2: #fff;
    }
    
    .nav-bar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        position: relative;
        background-color: var(--color2);
        padding: 24px 40px;
        position: fixed;
        z-index: 100;
    }
    .logo a{
        text-decoration: none;
        color: var(--color1);
        font-family: 'El Messiri', sans-serif;
    }
    .menu{
        display: flex;
    }
    
    .menu li{
        padding-left: 30px;
    }
    
    .menu li a{
        display: inline-block;
        text-decoration: none;
        text-align: center;
        color: #000;
        transition: 0.15ms ease-in-out;
        position: relative;
        text-transform: uppercase;
        font-weight: 600;
    }

    .menu li{
        margin-right: 3cm;
    }
    
    .menu li a ::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--color1);
        transition: 0.15ms ease-in-out;
    }
    .menu li a :hover ::after{
        width: 100%;
    }
    
    .open-menu, .close-menu{
        position: absolute;
        color: var(--color1);
        cursor: pointer;
        font-size: 1.5rem;
        display: none;
    }
    
    .open-menu{
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
    
    .close-menu{
        top: 20px;
        right: 20px;
    }
    
    #check{
        display: none;
    }
    
    @media(max-width: 610px){
        .nav-bar{
            background-color: #35852d;
            padding: 12px 24px;
        }
        .logo a{
            color: var(--color2);
        }
        .menu{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            right: -100%;
            z-index: 100;
            background-color: var(--color2);
            transition: all 20ms ease-in-out;
            overflow: hidden;
        }
        .menu li {
            margin-top: 40px;
            margin-right: 0;
            background-color: var(--color2);
        }
        .menu li a{
            padding: 10px;
            background-color: var(--color2);
        }
        .open-menu, .close-menu{
            display: block;
            color: var(--color2);
        }
        .close-menu{
            color: var(--color1);
        }
        #check:checked ~ .menu{
            right: 0;
        }
    }

    /*Home section*/
    .main-div{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        z-index: -1;
    }

    .text-div{
        width: 500px;
        height: 400px;
        padding: 60px;
        background-color:rgba(255, 255, 255, 0.411);
        z-index: 2;
        border-radius: 25px;
        transition: all 600ms ease-in-out;
    }
    
    .text-div:hover{
        background-color:rgba(255, 255, 255, 0.611);
    }

    .div-blur{
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter:blur(20px);
        z-index: 2;
    }
    
    .text-div h1{
        font-family: 'El Messiri', sans-serif;
        font-size: 78px;
        line-height: 1;
        margin: 0;
        color: var(--font-color);
    }

    .text-div p{
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        font-weight: 500;
        margin-top: 44px;
    }

    .img-div{
        width: 100vh;
        height: auto;
        position: relative;
        right: 160px;
        border-radius: 25px;
        z-index: 1;
    }
    
    /*Companys Section*/

    .company-main-div{
        width: 100%;
        height: 250px;
        background-color: #b9d2b5;
    }

    #company-div{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .trust-txt{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        position: relative;
        top: 50px;
        color: #000;
    }

    .company-img{
        margin-top: 30px;
        width: 200px;
        height: auto;
        fill: #256f19;
    }

    /* Deals section*/
    .deals-div{
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .deal-text {
        width: 200px;
        height: auto;
    }
    
    .deal-text:first-child{
        width: 300px;
    }

    .deal-text h1{
        font-family:'El Messiri', sans-serif;
        color: var(--font-color);
        font-size: 48px;
        max-lines: 2;
        line-height: 1;
        margin: 0;

    }
    
    .second-line{
       margin-top: 0;
    }
    .fa-fire{
        color: orange;
    }

    .deal-text h2, p {
        font-family: 'Poppins', sans-serif;
    }
    
    #deal-icons{
        font-size: 44px;
    }
        
    /*
    Responsiveness
    Mobile
    */
@media screen and (max-width: 425px){

   
    .main-div{
        height: 700px;
        flex-direction: column;
        align-items: center;   
    }

    .text-div{
        width: 80%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: transparent;
        padding: 0;
    }
    
    .div-blur{
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter:blur(0px);
    }
    
    .text-div:hover{
        background-color:transparent;
        width: 100%;
    }

    .text-div h1{
        font-size: 38px;
        margin-top: 130px;
    }

    .text-div p{
        font-size: 18px;
        margin-bottom: 60px;
    }

    .img-div{
        position: absolute;
        width: 80%;
        height: auto;
        right: 0px;
        left: auto;
        right: auto;
        top: 280px;
    }

    .company-main-div{
        width: 100%;
        height: 100px;
        background-color: #256f19;
    }

    .trust-txt{
        font-size: 12px;
        position: relative;
        top: 20px;
        color: rgb(4, 41, 0);
        font-weight: 600;
    }

    .company-img{
        width: 100px;
        height: auto;
        margin: auto;
        align-items: center;
        fill: #fff;
    }
    
    .deals-div{
        flex-direction: column;
        position: relative;
        top: 6cm;
    }

    #deal-icons{
        font-size: 30px;
        margin-top: 30px;
    }

}
